<div class="card text-center container login">
  <h5 class="card-header">Registrate</h5>
  <div class="card-body">
    
    <p>Correo: <input type="text" (input) = "captura($event.target.value)" name="correo" size="40"></p>
    
    <p>Contraseña: <input type="text" (input) = "captura1($event.target.value)" name="contraseña" size="40"></p>
    <p>Contraseña: <input type="text" (input) = "captura1($event.target.value)" name="contraseña" size="40"></p>
    
    
    <input class="btn button" type="button" (click) = "validacion($event)" value="REGISTRA">

    
  </div>
</div>